
@{
    ViewBag.Title = "PlayerInfo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12" style="background-color: #f2f2f2l">
    <div class="row custom_box">
        <h5> <b style="color:red"> PokemonInfo </b> </h5>
    </div>
    <div class="row custom_box">
        <div class="col-lg-12">
            <div id="form"></div>
        </div>
    </div>
    <div class="row custom_box">
        <div class="col-lg-12">
            <div id="grid"></div>
        </div>
    </div>
    <div class="row">
        <div id="popup_remove"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var data = {
            id: "",
            name: "",
            species: "",
            height: "",
            weight: "",
            hp: "",
            attack: "",
            defense: "",
            spatk: "",
            spdef: "",
            speed: "",
            image: "",
            image_shiny: "",
        }

        function cleardata() {
            data = {
            id: "",
            name: "",
            species: "",
            height: "",
            weight: "",
            hp: "",
            attack: "",
            defense: "",
            spatk: "",
            spdef: "",
            speed: "",
            image: "",
            image_shiny: "",
        }
            $("#form").dxForm("option","formData",data);
        }

        var store = new DevExpress.data.CustomStore({
            key: "id",
            load: function (loadOptions) {
                console.log(data);
                return $.ajax({
                    url: Config.dotnetHOST + "api/v1/pokemon/search",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (e) {
                        return e;
                    }
                })
            },
            insert: function (values) {
                // ...
            },
            update: function (key, values) {
                // ...
            },
            remove: function (key) {
                $.ajax({
                    url: Config.dotnetHOST + "api/v1/pokemon/" + key.id,
                    method: "DELETE",
                    success: function (e) {
                        $("#grid").dxDataGrid("refresh");
                        console.log(e);
                    }
                })
            }
        });

        $("#form").dxForm({
            formData: data,
            items: [{
                itemType: "group",
                colCount: 2,
                items: [{
                    dataField: "name"
                },{
                        dataField: "species",
                        label: {
                            text:"Loai"
                        },
                        editorType: "dxTextBox"
                    }, {
                        itemType: "group",
                        colSpan: 2,
                        colCount:10,
                        items: [{itemType: "empty",colSpan:4},{
                            itemType: "button",
                            colSpan:1,
                            buttonOptions: {
                                text: "Tim Kiem",
                                type:"success",
                                icon: "search",
                                onClick: function () {
                                    $("#grid").dxDataGrid("refresh");
                                }
                            }
                        },{
                            itemType: "button",
                            colSpan:1,
                            buttonOptions: {
                                text: "Lam moi",
                                type: "danger",
                                icon: "refresh",
                                onClick: function () {
                                    cleardata();
                                }
                            }
                        },{itemType: "empty",colSpan:4}]
                    }]
            }]
        });

        $("#grid").dxDataGrid({
            dataSource: store,
            noDataText: 'Không tìm thấy dữ liệu',
            wordWrapEnabled: true,
            columnAutoWidth: true,
            showBorders: true,
            rowAlternationEnabled: true,
            onToolbarPreparing: function (e) {
                var toolbarItems = e.toolbarOptions.items;
                // Adds a new item
                toolbarItems.push({
                    widget: 'dxButton',
                    options: {
                        icon: 'refresh',
                        onClick: function () {
                            cleardata();
                        }
                    },
                    location: 'after'
                });
                toolbarItems.push({
                    widget: 'dxButton',
                    options: {
                        icon: 'add',
                        onClick: function () {
                            cleardata();
                            // npage("dsdetail", Config.HOST + "dsdetail.jsp");
                            window.location.href = "/Admin/PokemonsDetails";
                        }
                    },
                    location: 'after'
                });
            },
            columns: [{
                dataField: "name",
                caption: "UserName"
            }, {
                dataField: "species"
            }, "hp","attack","defense","spatk","spdef","speed" , {
                caption: "Chức năng",
                alignment: 'center',
                cssClass: "",
                cellTemplate: function (t, options) {
                    console.log(options.row.data);
                    var actions = [
                        { id: 1, text: "Sửa", icon: "edit", data: options.row.data, process: function () { window.location.href = "/Admin/PokemonsDetails?id=" + options.row.data.id; } },
                        { id: 2, text: "Xóa", icon: "remove", data: options.row.data, process: function () { popup_remove(options.row.data); $("#popup_remove").dxPopup("show"); } }
                    ];
                    return $("<span>").dxDropDownButton({
                        //          icon: "list",
                        items: actions,
                        keyExpr: "id",
                        displayExpr: "text",
                        onItemClick: function (e) {
                            e.itemData.process();
                        }
                    });
                }
            }]
        });

        //popup xoa
        $("#popup_remove").dxPopup({
            width: 300,
            height: 180,
            title: "Xóa"
        });

        function popup_remove(keydata) {
            $("#popup_remove").dxPopup({
                contentTemplate: function () {
                    var t = $("<div style='width:100%'>");
                    t.append("<div class='col-lg-12' style='text-align: center'> <p>Bạn có chắc muốn xóa?</p> </div>");
                    var k = $("<span>");
                    k.append($("<span style='margin: 5px'>").dxButton({
                        type: "success",
                        text: "Có",
                        onClick: function () {
                            store.remove(keydata);
                            $("#popup_remove").dxPopup("hide");
                        }
                    }));
                    k.append($("<span style='margin: 5px'>").dxButton({
                        type: "normal",
                        text: "Không",
                        onClick: function () {
                            $("#popup_remove").dxPopup("hide");
                        }
                    }));
                    var h = $("<div class='col-lg-12' style='text-align: center'>").append(k);
                    t.append(h);
                    return t;
                }
            });
        }
    });
</script>
