<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Scripts/DevExpressDevExtreme-Complete-19.1.6/Lib/css/dx.common.css" rel="stylesheet" />
    <link href="~/Scripts/DevExpressDevExtreme-Complete-19.1.6/Lib/css/dx.light.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/DevExpressDevExtreme-Complete-19.1.6/Lib/js/dx.all.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Config.js"></script>


</head>
<body>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>

</body>
</html>
