<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Scripts/DevExpressDevExtreme-Complete-19.1.6/Lib/css/dx.common.css" rel="stylesheet" />
    <link href="~/Scripts/DevExpressDevExtreme-Complete-19.1.6/Lib/css/dx.light.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/DevExpressDevExtreme-Complete-19.1.6/Lib/js/dx.all.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert2.js"></script>
    <script src="~/Scripts/cookies.min.js"></script>
    <script src="~/Scripts/Custom.js"></script>
    <script src="~/Scripts/Config.js"></script>

</head>
<body style="background-image:url('/images/bg.jpg')">
    <div class="container" style="background-color:white;border-radius:5px">
        <div class="row" style="border-bottom: solid #f2f2f2 1px;padding-top:5px;padding-bottom:5px">
            <div class="col-lg-12" style="display:flex">
                <div style="width:50%;font-weight:bold">Demo Pokemon Mini Game - MicroService </div>
                <div style="width:50%;text-align:right"> <span style="font-size:10px"> Xin chào, <b style="font-size:14px" id="username"> </b> </span> <span id="logout" style="margin-left:10px;font-weight:bold;font-size:10px;color:red;cursor:pointer"> Logout </span>  </div>
            </div>
        </div>
        <div class="row" style="border-bottom: solid #f2f2f2 1px;padding-top:5px;padding-bottom:5px">
            <div class="col-lg-3">
                <div id="tree"></div>
            </div>
            <div class="col-lg-9">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="text-align:left;padding-top:5px;padding-bottom:5px">
                <b>Nhóm 7</b>
            </div>
            <div class="col-lg-6" style="text-align:right;padding-top:5px;padding-bottom:5px">
                Các công nghệ lập trình hiện đại - giảng viên <b>Phạm Thi Vương</b>
            </div>
        </div>
    </div>

</body>
</html>
<script>
    $(document).ready(function () {

        check_aouth();

        var tree_item = [{
            id: 1,
            text: "Pokedex",
            icon: "home",
            url: "/User/Pokemons",
            expanded: true
        }, {
            id: 2,
            text: "Player",
            icon: "user",
            expanded: true,
            items: [{
                id: 2.1,
                text: "Player Info",
                icon: "",
                url: "/User/Player",
                expanded: true
            }, {
                id: 2.2,
                text: "Player Pokemons",
                icon: "",
                url: "/User/PlayerPokemons",
                expanded: true
            }]
        }, {
            id: 3,
            text: "Rank",
            icon: "orderedlist",
            url: "/User/Rank"
        }, {
            id: 4,
            text: "Game",
            icon: "favorites",
            expanded: true,
            items: [{
                id: 4.1,
                text: "Catch pokemon",
                url: "/User/CatchPokemon",
                icon: ""
            }]
        }, {
            id: "5",
            text: "Help",
            icon: "help",
            items: [{
                id: "5.1",
                text: "IV",
                icon: ""
            }, {
                id: "5.2",
                text: "Nature",
                icon: ""
            }, {
                id: "5.3",
                text: "How to play",
                icon: ""
            }]
        }]

        $("#tree").dxTreeView({
            dataSource: tree_item,
            selectionMode: "single",
            selectByClick: true,
            onItemClick: function (t) {
                console.log(t.itemData);
                if (t.itemData.url != undefined && t.itemData.url != null && t.itemData.url != "")
                    window.location.href = t.itemData.url;
            }
            //itemTemplate: function (itemData, itemIndex, itemElement) {
            //        itemElement.append("<p style='margin-bottom:5px;text-transform:none;font-weight:normal'> <i class='dx-icon-chevronright font-weight-bold'> </i> " + itemData.text  + "</p>");
            //}
        });

        $("#logout").on("click", function () {
            Swal.fire({
                title: 'Ban co chac muon thoat?',
                text: "Ban se thoat khoi trang nay",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: "Khong",
                confirmButtonText: 'Co',
            }).then((result) => {
                if (result.value) {
                    window.location.href = "/Login";
                }
            })
        });

        function check_aouth() {
            var token = Cookies.get("Token_User");
            // check token not null
            if (token == null || token == undefined || token == "") window.location.href = "/Login";
            var token_info = Custom.parseJwt(token);

            $("#username").html(token_info.unique_name);

        }

    });
</script>
<style>
    .dx-treeview .dx-treeview-node {
        padding-left: 0px !important;
    }

    .dx-treeview-node[aria-level="1"] > .dx-treeview-item {
        padding-left: 5px !important;
        padding-right: 25px !important;
        font-weight: bold;
        text-transform: uppercase;
        background: linear-gradient(147deg, #c62128 0%, #a00000 74%) !important;
        color: white;
        /* border-bottom: solid #8c0000 5px;
        border-right: solid #8c0000 5px; */
        box-shadow: 5px 5px 5px #8c0000;
        margin: 0px 5px 5px 0px;
    }

        .dx-treeview-node[aria-level="1"] > .dx-treeview-item.dx-state-hover {
            color: #facccc !important;
            background: linear-gradient(147deg, #c62128 0%, #690101 74%) !important;
        }

    .dx-treeview-node[aria-level="1"].dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        color: #facccc !important;
        background: linear-gradient(147deg, #c62128 0%, #690101 74%) !important;
    }

    .dx-treeview-node[aria-level="1"] > .dx-treeview-toggle-item-visibility {
        margin-left: 90%;
        color: white;
    }

    .dx-treeview-node[aria-level="2"] > .dx-treeview-item {
        padding-left: 20px !important;
        padding-right: 25px !important;
        font-weight: bold;
        text-transform: uppercase;
        /* background: linear-gradient(147deg, #c68421 0%, #a09000 74%) !important; */
        color: #ce151d;
        background-color: #fffbfc !important;
        /* border-bottom: solid #b9b6a2 5px;
        border-right: solid #b9b6a2 5px; */
        box-shadow: 5px 5px 5px #b9b6a2;
        margin: 0px 5px 5px 0px;
    }

        .dx-treeview-node[aria-level="2"] > .dx-treeview-item.dx-state-hover {
            color: #af050d !important;
            background: linear-gradient(147deg, #fffbfc 0%, #d4d4d4 74%) !important;
        }

    .dx-treeview-node[aria-level="2"].dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        color: black !important;
        background: linear-gradient(147deg, #fffbfc 0%, #d4d4d4 74%) !important;
    }

    .dx-dropdownbutton-content .dx-list-item {
        display: block;
    }

    td[role="columnheader"] {
        vertical-align: middle !important;
        text-align: center !important;
        height: 50px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        background-color: #d9534f;
    }

    .custom_box {
        border-bottom: solid #f2f2f2 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>

